<span *ngIf="name" class="title">{{ name }}</span>
<div class="search">
  <mat-form-field class="search-input">
    <mat-label>Search</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput [formControl]="searchControl" />
  </mat-form-field>
</div>
<cdk-virtual-scroll-viewport
  *ngIf="!(loading | async); else loader"
  [itemSize]="itemHeightPx"
  class="list"
>
  <mat-selection-list *ngIf="(items | async)?.length" [formControl]="control">
    <mat-list-option
      checkboxPosition="before"
      *cdkVirtualFor="let item of items | async"
      [value]="item.id"
      class="item"
    >
      <ng-template
        [ngTemplateOutlet]="templateRef"
        [ngTemplateOutletContext]="{ $implicit: item }"
      ></ng-template>
    </mat-list-option>
  </mat-selection-list>
</cdk-virtual-scroll-viewport>

<ng-template #loader>
  <div class="loader-container">
    <mat-spinner diameter="32"></mat-spinner>
  </div>
</ng-template>
