@import "src/vars.scss";

:host {
    display: flex;
    flex-direction: column;
    box-shadow: $shadow-light;
    background: $color-light;
    max-height: min(100vh, 430px);
    width: min(100vw, 400px);
    overflow: hidden;
    border-radius: 4px;
}

.title {
    text-transform: uppercase;
    font-weight: 500;
    padding: 16px;
}

.search {
    padding: 0 16px;

    .search-input {
        width: 100%;
    }
}

.list {
    overflow: auto;
}

.loader-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
