<span *ngIf="name" class="title">{{ name }}</span>
<div class="search">
  <mat-form-field class="search-input">
    <mat-label>Search</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput [formControl]="searchControl" />
  </mat-form-field>
</div>
<div class="list">
  <ng-container *ngIf="!(loading | async); else loader">
    <mat-selection-list *ngIf="(items | async)?.length">
      <mat-list-option
        checkboxPosition="before"
        *ngFor="let item of items | async"
      >
        <ng-template
          [ngTemplateOutlet]="templateRef"
          [ngTemplateOutletContext]="{ $implicit: item }"
        ></ng-template>
      </mat-list-option>
    </mat-selection-list>
  </ng-container>
</div>

<ng-template #loader>
  <div class="loader-container">
    <mat-spinner diameter="32"></mat-spinner>
  </div>
</ng-template>
