@import "src/vars.scss";

:host {
    display: flex;
    align-items: center;
    gap: 8px;
}

.column {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.title {
    font-weight: 500;
    @include ellipsis-overflow;
}

.note {
    font-size: 0.8rem;
    color: $color-grey;
    @include ellipsis-overflow;
}

.image,
.placeholder {
    margin-left: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}

.placeholder {
    background: $color-lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;

    .placeholder-text {
        font-size: 15px;
        font-weight: 500;
    }
}
