$color-lightgrey: #e2e1e0;
$color-light: #fff;
$color-grey: #616161;
$color-dark: #212121;

$shadow-light: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

@mixin ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
