<cdk-virtual-scroll-viewport
  [itemSize]="itemHeightPx"
  #virtualScrollViewport
  class="list-container"
>
  <mat-selection-list *ngIf="items?.length else placeholder">
    <mat-list-option
      checkboxPosition="before"
      *cdkVirtualFor="let item of items; templateCacheSize: 0"
      (selectedChange)="onItemSelectedChange($event, item)"
      [value]="item"
      class="item"
    >
      <ng-container
        *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"
      ></ng-container>
    </mat-list-option>
  </mat-selection-list>
  <ng-template #placeholder>
    <div class="placeholder">
        <span>Nothing here...</span>
    </div>
  </ng-template>
</cdk-virtual-scroll-viewport>
